/**
 * Colors
**/
.color-light{
	color: @light !important;
}
.color-primary{
	color: @primary !important;
}
.color-highlight{
	color: @highlight !important;
}
.color-dark{
	color: @dark !important;
}
.color-grey{
	color: @grey !important;
}

.color-danger{
	color: @danger !important;
}


/**
 * Backgrounds
**/
.bg-light{
	background-color: @light !important;
	color: @dark !important;
}
.bg-light-hover{
	background-color: darken(@light, 10%) !important;
}

.bg-primary{
	background-color: @primary !important;
	color: @light !important;
}
.bg-primary-hover{
	background-color: darken(@primary, 10%) !important;
}

.bg-highlight{
	background-color: @highlight !important;
	color: @light !important;
}
.bg-highlight-hover{
	background-color: darken(@highlight, 10%) !important;
}

.bg-dark{
	background-color: @dark !important;
	color: @light !important;
}
.bg-dark-hover{
	background-color: darken(@dark, 10%) !important;
}

.bg-grey{
	background-color: @grey !important;
	color: @light !important;
}
.bg-grey-hover{
	background-color: darken(@grey, 10%) !important;
}

.bg-danger{
	background-color: @danger !important;
	color: @light !important;
}
.bg-danger-hover{
	background-color: darken(@danger, 10%) !important;
}

//Colores muebles
.bg-black{
	background-color: black;
}
.bg-brown{
	background-color: SaddleBrown;
}
.bg-purple{
	background-color: purple;
}
.bg-blue{
	background-color: blue;
}
.bg-green{
	background-color: green;
}
.bg-yellow{
	background-color: yellow;
}
.bg-orange{
	background-color: orange;
}
.bg-red{
	background-color: red;
}
.bg-wheat {
	background-color: wheat;
}
.bg-silver{
	background-color: silver;
}



/**
 * Defaults
**/

p{
	color: @dark;
}

a{
	color: @highlight;
}

/**
 * Color chips
**/

.color-chip{
	height: 40px;
}

.color-chip-selected{
	border: 3px solid @light;
	outline: 1px solid @primary;
}