<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mobbily</title>
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="stylesheet" href="style.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="cleartype" content="on">
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

		<!-- TYPEKIT -->
			<script src="//use.typekit.net/xqu5wzd.js"></script>
			<script>try{Typekit.load();}catch(e){}</script>
		<!-- TYPEKIT -->
	</head>
	<body>
		<!--[if lt IE 9]>
			<p class="chromeframe">Estás usando una versión <strong>vieja</strong> de tu explorador. Por favor <a href="http://browsehappy.com/" target="_blank"> actualiza tu explorador</a> para tener una experiencia completa.</p>
		<![endif]-->
		<div class="[ container ]">
			<header class="">
				<div class="[ row ]">
					<div class="[ columna xmall-8 ]">
						<i class="[ icon-mobbily-logo ][ text-center ][ bg-primary ][ inline-block align-top ]">
						</i><h1 class="[ inline-block align-top ][ color-primary ]">
							<i class="[ icon-mobbily ]"></i>
						</h1>
					</div>
					<div class="[ columna xmall-4 ][ text-right ]">
						<a class="[ menu__item ][ inline-block align-middle ]">
							<i class="[ icon-cart ]"></i>
							<!-- <span class="[ notification notification__number ]">
								1
							</span> -->
						</a><a class="[ menu__item ][ inline-block align-middle ]">
							<i class="[ icon-menu ]"></i>
						</a>
					</div>
				</div>
			</header>
			<div class="[ main ]">

				<section class="[ heroes ]">
					<div class="[ hero ]" style="backgound-image: url('imagen')">
						<h2 class="text-center">Arma tu cocina</h2>
						<a href="#" class="[ button ]">
							ver muebles de cocina
						</a>
					</div><!-- hero -->
				</section><!-- heroes -->

				<section class="[ call-to-action ]">
					<h3 class="[ text-center ]">¡Invita a tus amigos y gana dinero!</h3>
					<a href="" class="[ button ]">Invitar amigos</a>
				</section>

				<section class="[ nuestra_seleccion ]">
					<h3 class="[ text-center ]">Nuestra selección</h3>
					<div class="[ row ]">
						<div class="[ square ][ border ]">
							<div class="[ square-content ]">
								<div class="[ product-image ][ thumbnail ]">
									<img class="[ block center ]" src="images/chair.jpg" alt="Chair">
								</div>
								<h4 class="[ text-center ][ ellipsis ][ no-margin ]">DrokShop Hand Distressed Worn In Solid Pine Dining Chairs</h4>
								<p class="[ text-center ]">de <a href="#">Paul</a></p>
								<h5 class="[ text-center ][ product-price ]"> $1,6000</h5>
								<div class="[ product-full-description ][ bg-primary ]">
									<h5>DrokShop Hand Distressed Worn In Solid Pine Dining Chairs</h5>
									<p class="[ text-center ][ product-price ][ color-grey ]">
										$1,6000
									</p>
									<form class="" action="">
										<a class="[ button button--small button--hollow ]" id="add-to-cart-button">
											agregar al carrito
										</a>
										<a class="[ button button--small button--highlight ]">
											1-click checkout
										</a>
									</form>
								</div><!-- product-full-description -->
							</div><!-- square-content -->
						</div><!-- square -->
						<div class="[ square ][ border ]">
							<div class="[ square-content ]">
								<div class="[ product-image ][ thumbnail ]">
									<img class="[ block center ]" src="images/chair.jpg" alt="Chair">
								</div>
								<h4 class="[ text-center ][ ellipsis ][ no-margin ]">DrokShop Hand Distressed Worn In Solid Pine Dining Chairs</h4>
								<p class="[ text-center ]">de <a href="#">Paul</a></p>
								<h5 class="[ text-center ][ product-price ]"> $1,6000</h5>
								<div class="[ product-full-description ][ bg-primary ]">
									<h5>DrokShop Hand Distressed Worn In Solid Pine Dining Chairs</h5>
									<p class="[ text-center ][ product-price ][ color-grey ]">
										$1,6000
									</p>
									<form class="" action="">
										<a class="[ button button--small button--hollow ]" id="add-to-cart-button">
											agregar al carrito
										</a>
										<a class="[ button button--small button--highlight ]">
											1-click checkout
										</a>
									</form>
								</div><!-- product-full-description -->
							</div><!-- square-content -->
						</div><!-- square -->
					</div><!-- row -->
				</section>

				<section class="[ call-to-action ]">
					<h3 class="[ text-center ]">Vende tus muebles</h3>
					<div class="[ square ][ border ][ columna xmall-6 ]">
						<img src="images" alt="" class="[ thumbnail ][ block center ]">
						<h4 class="[ text-center ]">Adam Smith</h4>
						<p class="[ text-center ][ color-highlight ]">Top Seller</p>
					</div>
					<div class="[ square ][ border ][ columna xmall-6 ][ text-center ]" style="backgound-image: url('#')">
						<h3 class="[ text-center ]">Comienza a Vender</h3>
						<a class="[ button button--small ]">
							agregar al carrito
						</a>
					</div>
				</section>

				<section class="[ sillones ]">
					<h3 class="[ text-center ]">Sillónes</h3>
					<% @products_sillones.each do |product| %>
						<%= render 'product', :product => product %>
					<% end %>
				</section>

			</div><!-- main -->
		</div><!-- container -->
		<footer>
			<div id="spree-footer">
				<div class="container">
					<footer id="footer" class="" data-hook>
						<div class="[ border ]">
							<h3 class="[ title ] [ text-center ]">Suscríbete a nuestro newsletter</h2>
							<form class="[ form form--large ]" action="http://mobilly.us10.list-manage1.com/subscribe/post" method="POST">
								<fieldset class="[ columna xmall-12 medium-6 ][ center ]">
									<div class="input-group">
										<input type="hidden" name="u" value="0511c8319e03329d800c3ac07">
										<input type="hidden" name="id" value="dd4085bde0">
										<input type="text" placeholder="tu@correo.com" name="MERGE0" id="MERGE0">
										<span class="input-group-addon">
											<button type="submit" name="submit"><i class="[ icon-newsletter ]"></i></button>
										</span>
									</div>
								</fieldset>
							</form>
						</div><!-- border -->
						<div class="[ text-center ][ margin-bottom ]" data-hook>
							<a href="#">¿Quiénes somos?</a>
							<a href="#">¿Cómo funciona?</a>
							<a href="#">FAQs</a>
							<a href="#">Trabaja con nosotros</a>
							<a href="#">Devoluciones y reembolsos</a>
							<a href="#">Términos y condiciones</a>
							<a href="#">Política de privacidad</a>
							<a href="#">Ayúdanos a transportar</a>
							<a href="#">Contacto</a>
						</div>
						<p class="[ text-center ]">
							© 2014 Mobbily S.A de C.V.<br />
							todos los derechos reservados.
						</p>
					</footer>
				</div>
			</div>
		</footer>
	</body>
</html>